In [3]:
import pandas as pd

df = pd.read_csv(
    "../data/raw/sales_raw.csv",
    encoding="latin1"
)

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.shape

(9994, 21)

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [7]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [8]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [9]:
import pandas as pd
import numpy as np

customers = pd.DataFrame({
    "Customer ID": df["Customer ID"].unique(),
    "Customer Name": np.random.choice(
        ["Amit", "Neha", "Raj", "Simran", None],
        size=len(df["Customer ID"].unique())
    ),
    "Segment": np.random.choice(
        ["Consumer", "Corporate", "Home Office", None],
        size=len(df["Customer ID"].unique())
    )
})

customers.to_csv("../data/raw/customers_raw.csv", index=False)

In [10]:
products = pd.DataFrame({
    "Product ID": df["Product ID"].unique(),
    "Category": np.random.choice(
        ["Furniture", "Office Supplies", "Technology"],
        size=len(df["Product ID"].unique())
    ),
    "Sub-Category": np.random.choice(
        ["Chairs", "Tables", "Phones", "Binders", None],
        size=len(df["Product ID"].unique())
    )
})

products.to_csv("../data/raw/products_raw.csv", index=False)

In [11]:
regions = pd.DataFrame({
    "region_id": ["R1", "R2", "R3", "R4"],
    "region_name": ["Central", "East", "South", "West"],
    "manager": ["Anil", None, "Pooja", "Rahul"]
})

regions.to_csv("../data/raw/regions_raw.csv", index=False)

In [12]:
inventory = pd.DataFrame({
    "Product ID": df["Product ID"].unique(),
    "stock_level": np.random.randint(-10, 500, len(df["Product ID"].unique())),
    "last_restock_date": pd.to_datetime("2023-01-01") +
        pd.to_timedelta(
            np.random.randint(0, 180, len(df["Product ID"].unique())),
            unit="D"
        )
})

inventory.to_csv("../data/raw/inventory_raw.csv", index=False)

In [13]:
customers = pd.read_csv("../data/raw/customers_raw.csv")
products = pd.read_csv("../data/raw/products_raw.csv")
regions = pd.read_csv("../data/raw/regions_raw.csv")
inventory = pd.read_csv("../data/raw/inventory_raw.csv")

In [14]:
customers.head()
products.head()
regions.head()
inventory.head()

        Product ID  stock_level last_restock_date
0  FUR-BO-10001798          298        2023-03-19
1  FUR-CH-10000454          207        2023-03-24
2  OFF-LA-10000240          118        2023-01-12
3  FUR-TA-10000577          390        2023-04-03
4  OFF-ST-10000760          186        2023-02-22